@model IEnumerable<ST10028058_CLDV6212_POE.Models.Customer>

<h2>Customers</h2>
<a href="/Customers/Create" class="btn btn-primary mb-3">Add New Customer</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
        
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
             
                <td>@customer.Customer_Name</td>
                <td>@customer.email</td>
                <td>
                    <a href="/Customers/Delete?partitionKey=@customer.PartitionKey&rowKey=@customer.RowKey" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
